# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# next.js
.next/
out/
next-env.d.ts

# builds
build/
*.tsbuildinfo

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# logs / misc
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.pem
.env*.local

# testing
coverage/
